In [1]:
# pandas 操作概要
# 撰寫目的：主要在於往後要以python作分析時，資料處理運用
# pandas 功能類似 R語言中的dataframe，其資料類型很像我們常用的excel
# 因此在分析上(特別是結構化資料)，具有舉足輕重的地位
# 資料來源以dlab上課的資料為主
# 此處先假定以安裝完備 pandas 套件
## 如未安裝，建用以 anaconda prompt 安裝
## 輸入：pip install pandas

In [2]:
import pandas as pd # 此為將 pandas 載入運作

In [3]:
df = pd.read_excel(r'C:\Users\hsu\Desktop\test\data.xlsx',
                  encoding = 'utf-8') # 將資料載進 dataframe(注意自己的資料路徑)

In [7]:
# 資料樣態
df

    county                           name       area     price
0   台北市中山區      中山北路三段近結運民權西站~靠農安街~有OA家俱~   48.8坪/辦公   58,000元
1   台北市中正區      羅斯福路三段近捷運公館站~新生南路口~有廣告效果~   74.4坪/辦公  130,000元
2    台中市西區         向上北路超大裝潢套房（兩間房間打通）近草悟道     10坪/套房    8,000元
3   台北市信義區         忠孝東路五段近永春捷運~交通方便~生活機能佳   22.8坪/辦公   29,000元
4   新北市蘆洲區      永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房     11坪/套房   13,500元
5   台北市信義區        光復南路近捷運信義安和站~靠信義路~基隆路口~   38.6坪/辦公   42,000元
6   桃園市中壢區         青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱     43坪/整層   23,000元
7      NaN          光復北路近小巨蛋捷運~交通方便~生活機能佳     36坪/辦公   36,000元
8    台南市北區        長榮路四段58巷近火車站,成大醫院成大,崑科大    6.5坪/套房    6,900元
9   台北市中山區           長安東路二段近建國北路,現有OA可使用~     33坪/辦公   36,300元
10  台北市內湖區       民權東路六段國道市區連結核心區方正開放挑高實用辦  114.8坪/辦公  120,235元
11  台中市龍井區     新興路51巷看過來！東海電梯套房~長短期出租，設備齊      7坪/套房    5,500元
12  台北市中山區      南京東路三段近捷運松江南京一層一戶高樓屋況佳適診所   85.5坪/辦公  120,000元
13  台北市松山區      基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公   35.6坪/辦公   36,000元
14  台北市中山區            松江路近忠孝新生,南京松江站,南京東路     80坪/辦公  120,000元
15  台南市仁德區     二仁路一段155巷嘉南國際學苑B館雙人精緻上下舖套房      6坪/套房    5,800元
16  桃園市平鎮區                東豐路526巷全新靜巷獨立套房      7坪/套房    7,000元
17  台北市松山區        八德路四段近松山捷運站出口~饒河街~生活機能佳   48.3坪/辦公   50,000元
18  台北市內湖區        瑞湖街堤頂大道旁科技業密集區機能優屋況佳超推.  143.5坪/辦公  150,333元
19  台北市中山區       林森北路近捷運中山站~南京東路口~溫馨隔一小房~   22.3坪/住辦   24,000元
20  台北市中山區     松江路64巷松江南京站【松江公園旁】五星級雅房★限女      5坪/雅房    6,500元
21  台中市西屯區       河南路二段系統裝潢*獨洗*獨曬*衛浴開窗*大遠百      9坪/套房    6,999元
22  台北市中山區          松江路近松江南京捷運站,忠孝新生,A級純辦  146.2坪/辦公  219,270元
23   台中市東區                育英路樂成宮旁環境超佳的新套房    7.5坪/套房    6,500元
24  台北市中山區     建國北路一段近捷運快速道商務通勤超便利裝潢新穎超值選     78坪/辦公  101,304元
25  台南市中西區          民生路一段民生路一段~電梯套房出租《限女》      3坪/套房    3,000元
26  新北市永和區             永和路二段工商登記2000元,可特許      1坪/辦公    2,000元
27  台中市太平區                      東平路家電齊全套房     10坪/套房    7,800元
28  台南市永康區               大仁街電梯、家俱全套月租4500      6坪/套房    4,500元
29  台北市大同區  延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房      8坪/套房   33,000元
30  新北市蘆洲區          正和街蘆洲市中心湧蓮寺旁,近三民高中捷運站      7坪/套房   12,000元
31   台中市西區           大業路文心路大業路家樂福，全新家俱大套房      8坪/套房    9,500元
32  新北市板橋區            華興街府中站捷運步行５分鐘時尚精緻套房      7坪/套房    9,000元
33   新竹市北區  延平路一段317巷★稀有獨立陽台洗衣機1樓前可停汽機車靜巷      8坪/套房    7,000元
34  台北市大安區         羅斯福路三段古亭,台電捷運站,適合補習班診所   83.2坪/辦公  100,000元
35   新竹市北區           勝利十二街平價全新套房出租✨交通便利✨✨    6.5坪/套房    6,500元
36  高雄市三民區          大昌二路432巷全新大樓管理套房(附車位)    5.5坪/套房    6,500元
37  台中市西屯區    長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位     12坪/套房    8,800元
38  台北市松山區         八德路二段近南京復興站~微風廣場~生活機能佳   17.2坪/辦公       NaN
39  台北市中正區    廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女      5坪/雅房    6,500元

In [6]:
# 資料處理 1、shape (意為：幾列、幾欄)
df.shape
# 輸出的第一引數為 「row」，第二引數為 「columns」

(40, 4)

In [10]:
# 資料處理 2、size (有幾個記錄(row x columns)，類似excel中有幾個儲存格)
df.size
# 40個 row，4個columns，相乘的話，就是有160個記錄

160

In [11]:
# 資料處理 3、columns (查看欄位名稱(統計中的變數名稱))
df.columns
# 欄位名稱有：county, name, area, price

Index(['county', 'name', 'area', 'price'], dtype='object')

In [12]:
# 資料處理 4、dtypes (查看各欄位的資料類型)
df.dtypes
# 類似 R 語言中的 str()功能

county    object
name      object
area      object
price     object
dtype: object

In [13]:
# 資料處理 5、values (查看資料)
df.values

array([['台北市中山區', '中山北路三段近結運民權西站~靠農安街~有OA家俱~', '48.8坪/辦公', '58,000元'],
       ['台北市中正區', '羅斯福路三段近捷運公館站~新生南路口~有廣告效果~', '74.4坪/辦公', '130,000元'],
       ['台中市西區', '向上北路超大裝潢套房（兩間房間打通）近草悟道', '10坪/套房', '8,000元'],
       ['台北市信義區', '忠孝東路五段近永春捷運~交通方便~生活機能佳', '22.8坪/辦公', '29,000元'],
       ['新北市蘆洲區', '永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房', '11坪/套房', '13,500元'],
       ['台北市信義區', '光復南路近捷運信義安和站~靠信義路~基隆路口~', '38.6坪/辦公', '42,000元'],
       ['桃園市中壢區', '青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱', '43坪/整層', '23,000元'],
       [nan, '光復北路近小巨蛋捷運~交通方便~生活機能佳', '36坪/辦公', '36,000元'],
       ['台南市北區', '長榮路四段58巷近火車站,成大醫院成大,崑科大', '6.5坪/套房', '6,900元'],
       ['台北市中山區', '長安東路二段近建國北路,現有OA可使用~', '33坪/辦公', '36,300元'],
       ['台北市內湖區', '民權東路六段國道市區連結核心區方正開放挑高實用辦', '114.8坪/辦公', '120,235元'],
       ['台中市龍井區', '新興路51巷看過來！東海電梯套房~長短期出租，設備齊', '7坪/套房', '5,500元'],
       ['台北市中山區', '南京東路三段近捷運松江南京一層一戶高樓屋況佳適診所', '85.5坪/辦公', '120,000元'],
       ['台北市松山區', '基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公', '35.6坪/辦公', '36,000元'],
       ['台北市中山區', '松江路近忠孝新生,南京松江站,南京東路', '80坪/辦公', '120,000元'],
       ['台南市仁德區', '二仁路一段155巷嘉南國際學苑B館雙人精緻上下舖套房', '6坪/套房', '5,800元'],
       ['桃園市平鎮區', '東豐路526巷全新靜巷獨立套房', '7坪/套房', '7,000元'],
       ['台北市松山區', '八德路四段近松山捷運站出口~饒河街~生活機能佳', '48.3坪/辦公', '50,000元'],
       ['台北市內湖區', '瑞湖街堤頂大道旁科技業密集區機能優屋況佳超推.', '143.5坪/辦公', '150,333元'],
       ['台北市中山區', '林森北路近捷運中山站~南京東路口~溫馨隔一小房~', '22.3坪/住辦', '24,000元'],
       ['台北市中山區', '松江路64巷松江南京站【松江公園旁】五星級雅房★限女', '5坪/雅房', '6,500元'],
       ['台中市西屯區', '河南路二段系統裝潢*獨洗*獨曬*衛浴開窗*大遠百', '9坪/套房', '6,999元'],
       ['台北市中山區', '松江路近松江南京捷運站,忠孝新生,A級純辦', '146.2坪/辦公', '219,270元'],
       ['台中市東區', '育英路樂成宮旁環境超佳的新套房', '7.5坪/套房', '6,500元'],
       ['台北市中山區', '建國北路一段近捷運快速道商務通勤超便利裝潢新穎超值選', '78坪/辦公', '101,304元'],
       ['台南市中西區', '民生路一段民生路一段~電梯套房出租《限女》', '3坪/套房', '3,000元'],
       ['新北市永和區', '永和路二段工商登記2000元,可特許', '1坪/辦公', '2,000元'],
       ['台中市太平區', '東平路家電齊全套房', '10坪/套房', '7,800元'],
       ['台南市永康區', '大仁街電梯、家俱全套月租4500', '6坪/套房', '4,500元'],
       ['台北市大同區', '延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房', '8坪/套房', '33,000元'],
       ['新北市蘆洲區', '正和街蘆洲市中心湧蓮寺旁,近三民高中捷運站', '7坪/套房', '12,000元'],
       ['台中市西區', '大業路文心路大業路家樂福，全新家俱大套房', '8坪/套房', '9,500元'],
       ['新北市板橋區', '華興街府中站捷運步行５分鐘時尚精緻套房', '7坪/套房', '9,000元'],
       ['新竹市北區', '延平路一段317巷★稀有獨立陽台洗衣機1樓前可停汽機車靜巷', '8坪/套房', '7,000元'],
       ['台北市大安區', '羅斯福路三段古亭,台電捷運站,適合補習班診所', '83.2坪/辦公', '100,000元'],
       ['新竹市北區', '勝利十二街平價全新套房出租✨交通便利✨✨', '6.5坪/套房', '6,500元'],
       ['高雄市三民區', '大昌二路432巷全新大樓管理套房(附車位)', '5.5坪/套房', '6,500元'],
       ['台中市西屯區', '長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位', '12坪/套房', '8,800元'],
       ['台北市松山區', '八德路二段近南京復興站~微風廣場~生活機能佳', '17.2坪/辦公', nan],
       ['台北市中正區', '廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女', '5坪/雅房', '6,500元']],
      dtype=object)

In [14]:
# 資料處理 6、index (dataframe的引數(概念類似資料位置))
df.index

RangeIndex(start=0, stop=40, step=1)

In [15]:
# 資料處理 7、head() (取出前五筆資料)
df.head()
# ()中，可輸入欲輸出幾 row 的值

   county                       name      area     price
0  台北市中山區  中山北路三段近結運民權西站~靠農安街~有OA家俱~  48.8坪/辦公   58,000元
1  台北市中正區  羅斯福路三段近捷運公館站~新生南路口~有廣告效果~  74.4坪/辦公  130,000元
2   台中市西區     向上北路超大裝潢套房（兩間房間打通）近草悟道    10坪/套房    8,000元
3  台北市信義區     忠孝東路五段近永春捷運~交通方便~生活機能佳  22.8坪/辦公   29,000元
4  新北市蘆洲區  永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房    11坪/套房   13,500元

In [16]:
# 資料處理 8、tail() (取出後五筆的資料)
df.tail()
# ()中，可輸入欲輸出幾 row 的值

    county                         name      area   price
35   新竹市北區         勝利十二街平價全新套房出租✨交通便利✨✨   6.5坪/套房  6,500元
36  高雄市三民區        大昌二路432巷全新大樓管理套房(附車位)   5.5坪/套房  6,500元
37  台中市西屯區  長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位    12坪/套房  8,800元
38  台北市松山區       八德路二段近南京復興站~微風廣場~生活機能佳  17.2坪/辦公     NaN
39  台北市中正區  廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女     5坪/雅房  6,500元

In [17]:
# 資料處理 9、info (查看dataframe相關資訊)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
county    39 non-null object
name      40 non-null object
area      40 non-null object
price     39 non-null object
dtypes: object(4)
memory usage: 1.3+ KB

In [18]:
##### 上述 9 種資料處理的方式，可以使我們更佳了解我們的資料。
# 之後會介紹如何 「 取值 」

In [21]:
print(df['county']) # 取出 county 欄位的值
print(df[['county','area']]) # 取 county, area 二個欄位的值
# 相較於取一個欄位，如果要取二欄以上的值，需 [[]] 二個中括號，才能執行
# 如何在同一個 anaconda cell中，要輸出二個以上(含)的資料，就必須用print()這個函數

0     台北市中山區
1     台北市中正區
2      台中市西區
3     台北市信義區
4     新北市蘆洲區
5     台北市信義區
6     桃園市中壢區
7        NaN
8      台南市北區
9     台北市中山區
10    台北市內湖區
11    台中市龍井區
12    台北市中山區
13    台北市松山區
14    台北市中山區
15    台南市仁德區
16    桃園市平鎮區
17    台北市松山區
18    台北市內湖區
19    台北市中山區
20    台北市中山區
21    台中市西屯區
22    台北市中山區
23     台中市東區
24    台北市中山區
25    台南市中西區
26    新北市永和區
27    台中市太平區
28    台南市永康區
29    台北市大同區
30    新北市蘆洲區
31     台中市西區
32    新北市板橋區
33     新竹市北區
34    台北市大安區
35     新竹市北區
36    高雄市三民區
37    台中市西屯區
38    台北市松山區
39    台北市中正區
Name: county, dtype: object
    county       area
0   台北市中山區   48.8坪/辦公
1   台北市中正區   74.4坪/辦公
2    台中市西區     10坪/套房
3   台北市信義區   22.8坪/辦公
4   新北市蘆洲區     11坪/套房
5   台北市信義區   38.6坪/辦公
6   桃園市中壢區     43坪/整層
7      NaN     36坪/辦公
8    台南市北區    6.5坪/套房
9   台北市中山區     33坪/辦公
10  台北市內湖區  114.8坪/辦公
11  台中市龍井區      7坪/套房
12  台北市中山區   85.5坪/辦公
13  台北市松山區   35.6坪/辦公
14  台北市中山區     80坪/辦公
15  台南市仁德區      6坪/套房
16  桃園市平鎮區      7坪/套房
17  台北市松山區   48.3坪/辦公
18  台北市內湖區  143.5坪/辦公
19  台北市中山區   22.3坪/住辦
20  台北市中山區      5坪/雅房
21  台中市西屯區      9坪/套房
22  台北市中山區  146.2坪/辦公
23   台中市東區    7.5坪/套房
24  台北市中山區     78坪/辦公
25  台南市中西區      3坪/套房
26  新北市永和區      1坪/辦公
27  台中市太平區     10坪/套房
28  台南市永康區      6坪/套房
29  台北市大同區      8坪/套房
30  新北市蘆洲區      7坪/套房
31   台中市西區      8坪/套房
32  新北市板橋區      7坪/套房
33   新竹市北區      8坪/套房
34  台北市大安區   83.2坪/辦公
35   新竹市北區    6.5坪/套房
36  高雄市三民區    5.5坪/套房
37  台中市西屯區     12坪/套房
38  台北市松山區   17.2坪/辦公
39  台北市中正區      5坪/雅房

In [30]:
print(df['county'][0]) # 取出 county 欄位第一(row)個值

台北市中山區

In [31]:
print(df['county'][0:5]) # 取出 county 欄位第一至第四個
# 注意：python與 R 其中一個最大的差異為：python是從 0 開始計算；R是從 1 開始計算
# 因此[0:5]的值，其實是從第一筆到第四筆。
# 比較好想的方式為：[第一引數,第二引數]。(第一引數 到 第二引數 - 1)

0    台北市中山區
1    台北市中正區
2     台中市西區
3    台北市信義區
4    新北市蘆洲區
Name: county, dtype: object

In [32]:
print(df[['county','area']][0:5]) # 此為二欄的取值
# 注意：二欄以上需以二個中括號取值

   county      area
0  台北市中山區  48.8坪/辦公
1  台北市中正區  74.4坪/辦公
2   台中市西區    10坪/套房
3  台北市信義區  22.8坪/辦公
4  新北市蘆洲區    11坪/套房

In [48]:
# 另一種取值方式 (與 R 語言類似，是以index方式)
# df.loc[第一引數, 第二引數]
# 第一引數為 row，第二引數為 columns
print(df.loc[1,['county']]) # 取值 county 欄位,第1筆資料
print(df.loc[1:4,['county','area']]) # 取 county, area 第1筆到第4筆資料
# 此處運用.loc這個指令，因此row取值時，不用-1
print(df.loc[:]) # 取全部資料
print(df.loc[:,['county']]) # 取 county 欄位，全部 row 的資料

county    台北市中正區
Name: 1, dtype: object
   county      area
1  台北市中正區  74.4坪/辦公
2   台中市西區    10坪/套房
3  台北市信義區  22.8坪/辦公
4  新北市蘆洲區    11坪/套房
    county                           name       area     price
0   台北市中山區      中山北路三段近結運民權西站~靠農安街~有OA家俱~   48.8坪/辦公   58,000元
1   台北市中正區      羅斯福路三段近捷運公館站~新生南路口~有廣告效果~   74.4坪/辦公  130,000元
2    台中市西區         向上北路超大裝潢套房（兩間房間打通）近草悟道     10坪/套房    8,000元
3   台北市信義區         忠孝東路五段近永春捷運~交通方便~生活機能佳   22.8坪/辦公   29,000元
4   新北市蘆洲區      永安南路二段全新渡假民宿風大套房/獨立洗衣機/廚房     11坪/套房   13,500元
5   台北市信義區        光復南路近捷運信義安和站~靠信義路~基隆路口~   38.6坪/辦公   42,000元
6   桃園市中壢區         青商路桃園青埔高鐵站全新完工全新裝潢全新傢俱     43坪/整層   23,000元
7      NaN          光復北路近小巨蛋捷運~交通方便~生活機能佳     36坪/辦公   36,000元
8    台南市北區        長榮路四段58巷近火車站,成大醫院成大,崑科大    6.5坪/套房    6,900元
9   台北市中山區           長安東路二段近建國北路,現有OA可使用~     33坪/辦公   36,300元
10  台北市內湖區       民權東路六段國道市區連結核心區方正開放挑高實用辦  114.8坪/辦公  120,235元
11  台中市龍井區     新興路51巷看過來！東海電梯套房~長短期出租，設備齊      7坪/套房    5,500元
12  台北市中山區      南京東路三段近捷運松江南京一層一戶高樓屋況佳適診所   85.5坪/辦公  120,000元
13  台北市松山區      基隆路一段近南京三民站南京東路五段旁優質屋況佳辦公   35.6坪/辦公   36,000元
14  台北市中山區            松江路近忠孝新生,南京松江站,南京東路     80坪/辦公  120,000元
15  台南市仁德區     二仁路一段155巷嘉南國際學苑B館雙人精緻上下舖套房      6坪/套房    5,800元
16  桃園市平鎮區                東豐路526巷全新靜巷獨立套房      7坪/套房    7,000元
17  台北市松山區        八德路四段近松山捷運站出口~饒河街~生活機能佳   48.3坪/辦公   50,000元
18  台北市內湖區        瑞湖街堤頂大道旁科技業密集區機能優屋況佳超推.  143.5坪/辦公  150,333元
19  台北市中山區       林森北路近捷運中山站~南京東路口~溫馨隔一小房~   22.3坪/住辦   24,000元
20  台北市中山區     松江路64巷松江南京站【松江公園旁】五星級雅房★限女      5坪/雅房    6,500元
21  台中市西屯區       河南路二段系統裝潢*獨洗*獨曬*衛浴開窗*大遠百      9坪/套房    6,999元
22  台北市中山區          松江路近松江南京捷運站,忠孝新生,A級純辦  146.2坪/辦公  219,270元
23   台中市東區                育英路樂成宮旁環境超佳的新套房    7.5坪/套房    6,500元
24  台北市中山區     建國北路一段近捷運快速道商務通勤超便利裝潢新穎超值選     78坪/辦公  101,304元
25  台南市中西區          民生路一段民生路一段~電梯套房出租《限女》      3坪/套房    3,000元
26  新北市永和區             永和路二段工商登記2000元,可特許      1坪/辦公    2,000元
27  台中市太平區                      東平路家電齊全套房     10坪/套房    7,800元
28  台南市永康區               大仁街電梯、家俱全套月租4500      6坪/套房    4,500元
29  台北市大同區  延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房      8坪/套房   33,000元
30  新北市蘆洲區          正和街蘆洲市中心湧蓮寺旁,近三民高中捷運站      7坪/套房   12,000元
31   台中市西區           大業路文心路大業路家樂福，全新家俱大套房      8坪/套房    9,500元
32  新北市板橋區            華興街府中站捷運步行５分鐘時尚精緻套房      7坪/套房    9,000元
33   新竹市北區  延平路一段317巷★稀有獨立陽台洗衣機1樓前可停汽機車靜巷      8坪/套房    7,000元
34  台北市大安區         羅斯福路三段古亭,台電捷運站,適合補習班診所   83.2坪/辦公  100,000元
35   新竹市北區           勝利十二街平價全新套房出租✨交通便利✨✨    6.5坪/套房    6,500元
36  高雄市三民區          大昌二路432巷全新大樓管理套房(附車位)    5.5坪/套房    6,500元
37  台中市西屯區    長安路二段71巷一年新屋,超大套房,獨立洗衣機,機車位     12坪/套房    8,800元
38  台北市松山區         八德路二段近南京復興站~微風廣場~生活機能佳   17.2坪/辦公       NaN
39  台北市中正區    廈門街123巷古亭捷運站【牯嶺公園旁】五星級雅房～限女      5坪/雅房    6,500元
    county
0   台北市中山區
1   台北市中正區
2    台中市西區
3   台北市信義區
4   新北市蘆洲區
5   台北市信義區
6   桃園市中壢區
7      NaN
8    台南市北區
9   台北市中山區
10  台北市內湖區
11  台中市龍井區
12  台北市中山區
13  台北市松山區
14  台北市中山區
15  台南市仁德區
16  桃園市平鎮區
17  台北市松山區
18  台北市內湖區
19  台北市中山區
20  台北市中山區
21  台中市西屯區
22  台北市中山區
23   台中市東區
24  台北市中山區
25  台南市中西區
26  新北市永和區
27  台中市太平區
28  台南市永康區
29  台北市大同區
30  新北市蘆洲區
31   台中市西區
32  新北市板橋區
33   新竹市北區
34  台北市大安區
35   新竹市北區
36  高雄市三民區
37  台中市西屯區
38  台北市松山區
39  台北市中正區

In [50]:
# 檢查是否有空值 isnull() 指令
df.isnull() # 資料中出現 True 就是有空值
# 此方法最大問題為，無法以直觀方式看出，何欄何列有空值

county    True
name      True
area      True
price     True
dtype: bool

In [53]:
df.isnull().any() # 此語法是在看那一個欄位有剛值
# 從輸出的資料來看，欄位 county, price 有空值

county     True
name      False
area      False
price      True
dtype: bool

In [61]:
print(df.isnull()) # 輸出每一列 T or F
print(df.isnull().values == True) # 選出 T(空值) 的值
# 利用上述二個概念，將有空值的row取出。
print(df[df.isnull().values == True]) # 以 dataframe方式呈現，便於肉眼觀看

    county   name   area  price
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
5    False  False  False  False
6    False  False  False  False
7     True  False  False  False
8    False  False  False  False
9    False  False  False  False
10   False  False  False  False
11   False  False  False  False
12   False  False  False  False
13   False  False  False  False
14   False  False  False  False
15   False  False  False  False
16   False  False  False  False
17   False  False  False  False
18   False  False  False  False
19   False  False  False  False
20   False  False  False  False
21   False  False  False  False
22   False  False  False  False
23   False  False  False  False
24   False  False  False  False
25   False  False  False  False
26   False  False  False  False
27   False  False  False  False
28   False  False  False  False
29   False  False  False  False
30   False  False  False  False
31   False  False  False  False
32   False  False  False  False
33   False  False  False  False
34   False  False  False  False
35   False  False  False  False
36   False  False  False  False
37   False  False  False  False
38   False  False  False   True
39   False  False  False  False
[[False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [ True False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False  True]
 [False False False False]]
    county                    name      area    price
7      NaN   光復北路近小巨蛋捷運~交通方便~生活機能佳    36坪/辦公  36,000元
38  台北市松山區  八德路二段近南京復興站~微風廣場~生活機能佳  17.2坪/辦公      NaN

In [63]:
print(df.isnull().any()) # 得知那此欄位有空值
print(df[['county','price']][df.isnull().values == True])
# 將先前學得 「指定取值」、「判斷何處有空值」，輸出空值單元

county     True
name      False
area      False
price      True
dtype: bool
    county    price
7      NaN  36,000元
38  台北市松山區      NaN

In [42]:
# 把空值補滿 fillna() 指令
df['county'] = df['county'].fillna('台北市松山區')
df['price'] = df['price'].fillna('24000')

county    False
name      False
area      False
price     False
坪數        False
用途        False
dtype: bool

In [43]:
# 資料內容的切割取代 (不是pandas套件功能，可先不看)
df['坪數'] = df['area'].str.split('/').str[0] # 取出資料，賦予新欄位
df['用途'] = df['area'].str.split('/').str[1] # 取出資料，賦予新欄位
df = df.drop('area', axis = 1) # 舊有欄位刪除

In [85]:
# 資料的類型轉換
# 資料中的 「坪數」、「price」欄位，因有 "坪"以及 "元"，所以會把這二欄的原本因為數值型資料
# 變成字串資料，因此需把文字刪除後，重新賦予資料類型為數值型，才能進行統計運算
df['坪數'] = df['坪數'].str.replace('坪','') # 刪除「坪」
df['price'] = df['price'].str.replace('元','') # 刪除「元」
df['price'] = df['price'].str.replace(',','') # 刪除 「,」

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [86]:
df['price'] = df['price'].astype('int') # 將欄位「price」轉換為數值資料

In [87]:
df['坪數'] = df['坪數'].astype('float') # 將欄位 「坪數」 轉換為數值資料

In [82]:
df.info() # 查看資料類型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
county    40 non-null object
name      40 non-null object
price     40 non-null int32
坪數        40 non-null float64
用途        40 non-null object
dtypes: float64(1), int32(1), object(3)
memory usage: 1.5+ KB

In [84]:
# 資料的條件篩選
df[(df['price'] > 24000) &
  (df['price'] < 40000) &
  (df['用途'] == '套房')] # 注意每個條件需要小括號圈住

    county                           name  price   坪數  用途
29  台北市大同區  延平北路一段69巷台北車站【月租飯店式】五星獨棟～電梯套房  33000  8.0  套房